@media only screen and (max-width: 375px) {
  .navbar-inverse .navbar-collapse .navbar-nav {
    margin-left: 0;
    margin-top: 0;
    background: #ffffff;
    padding: 20px 0;
  }
  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    height: auto;
    padding: 0;
    border-color: #BB8F42;
    margin-top: 20px;
  }
  .navbar-inverse .navbar-toggle {
    border-color: #BB8F42;
  }
  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #BB8F42;
  }
  .banner .swiper-container {
    height: 350px;
  }
  .banner .banner-bg {
    height: 350px;
  }
  .banner .slogan {
    width: 200px;
    margin: 50% auto;
    opacity: .8;
  }
  .apartment .gallery-top,
  .villa .gallery-top {
    height: 200px;
  }
  .apartment .gallery-thumbs,
  .villa .gallery-thumbs {
    height: 80px;
  }
  .life .video-item-1 .video-cover,
  .life .video-item-1 .video-cover .cover {
    width: 100%;
    height: 135px;
  }
  .life .video-item-1,
  .life .video-item {
    width: 100%;
    margin: 0;
  }
  .life .video-item .video-cover .cover,
  .life .video-item .video-cover {
    width: 100%;
  }
  .life .video-item-1 .video-cover .play-btn {
    margin: 30px auto;
  }
  .meet .pro-item img {
    width: 100%;
  }
  .billboard .content {
    margin-top: 30px;
  }
  .billboard .content textarea {
    width: 300px;
  }
  .billboard .user-info {
    margin-top: 30px;
  }
  .pro-desc {
    height: 400px;
  }
  .pro-list .col-md-4 .pro-item img,
  .pro-list .col-md-4 .pro-item {
    width: 100%;
  }
  .pro-list .col-md-8 .pro-item img,
  .pro-list .col-md-8 .pro-item {
    width: 100%;
  }
  .pro-list .col-md-4 .pro-item .mask,
  .pro-list .col-md-8 .pro-item .mask {
    width: 100%;
  }
  .info-desc {
    margin-top: -600px;
  }
  .info-desc .content {
    width: 300px;
    margin: 0 auto;
  }
  .info-desc .content span {
    display: block;
  }
  .comp-pro {
    margin-top: 0;
  }
  .milestone {
    margin-top: 300px;
  }
  .milestone .swiper-container {
    width: 300px;
  }
  .article {
    margin-top: -250px;
  }
  .article .article-list {
    margin-left: 20px;
    margin-right: 20px;
  }
  .article-detail {
    margin-left: 20px;
    margin-right: 20px;
  }
  .article .article-detail p {
    padding: 10px;
  }
  .join-us .join-us-box {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -300px;
  }
}
